@import "bootswatch/cerulean/variables";
@import "bootstrap";
body { padding-top: 60px; }
@import "bootswatch/cerulean/bootswatch";
// @import "base";

#logo {
  padding-right: 45px;
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-image: url(image_path("stock-chart-logo.png"));
  background-position: right;
}
